	<div class= "footer">
		<p>
				JP2019
		</p>
		<a href="https://www.instagram.com/julie_bateman_art/?hl=en">
			<img src="https://www.instagram.com/static/images/ico/favicon-						192.png/68d99ba29cc8.png">
		</a>
	</div>
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>