<!DOCTYPE html>
<html>
	<head>
		<title>Julie Bateman Art</title>
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" 			rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" 			 rel="stylesheet">	
	</head>
	<body>
		
		<nav>
			<span class="logo"><a href="/">JBA</a>
			</span>
			<ul>
				<li><a href="/">Home</a></li>
				<li class="nav-left"><a href="/art">Gallery</a></li>
				<li><a href="/">About</a></li>
				<li><a href="/">Contact</a></li>

			</ul>
		</nav>