<!DOCTYPE html>
<html>
	<head>
		<title>Julie Bateman Art</title>
		<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" 			rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		
		<nav>
			<ul>
				<li class="nav-left"><a href="/">Home</a></li>
				<li class="nav-left"><a href="/art">Gallery</a></li>
				<li ><a href="/">About</a></li>
				<li ><a href="/">Contact</a></li>

			</ul>
		</nav>