<% include partials/header %>

<div class="wrapper">
	
	<header>
		<h1>Julie Bateman Art</h1>
	</header>

	<a href="/">Home</a>
	<a href="/art/new">
		<button>
		Add new Art
		</button>
	</a>

	<div class="container">
		<% art.forEach(function(arts){ %>

			<div class="row-item">
				<h2><%= arts.name %></h2>
				<img src="<%= arts.image %>">
				<h2>Year: <%= arts.year %></h2>
			</div>
		<% }); %>
	</div>
	<a href="/">Home</a>
	<a href="/art/new">
		<button>
		Add new Art
		</button>
	</a>

</div>
<% include partials/footer %>