<% include partials/header %>

<header>
<h1>This is the art page!</h1>
</header>

<a href="/">Home</a>
<a href="/art/new">
	<button>
	Add new Art
	</button>
</a>
<% art.forEach(function(arts){ %>
				
	<div>
		<h4><%= arts.name %></h4>
		<img src="<%= arts.image %>">
		<h1>Year: <%= arts.year %></h1>
	</div>
<% }); %>

<a href="/">Home</a>
<a href="/art/new">
	<button>
	Add new Art
	</button>
</a>
<% include partials/footer %>