<% include partials/header %>

<header>
<h1>Welcome to Julie Bateman Art</h1>
</header>

<a href="/">Home</a>
<a href="/art/new">
	<button>
	Add new Art
	</button>
</a>

<div class="rows">
	<% art.forEach(function(arts){ %>

		<div class="eachArt">
			<h2><%= arts.name %></h4>
			<img src="<%= arts.image %>">
			<h2>Year: <%= arts.year %></h1>
		</div>
	<% }); %>
</div>
<a href="/">Home</a>
<a href="/art/new">
	<button>
	Add new Art
	</button>
</a>
<% include partials/footer %>