<% include partials/header %>

<div class="wrapper">
	
	<header>
		<h1>Julie Bateman Art</h1>
	</header>

	<a class="hide" href="/">Home</a>
	<a class="hide" href="/art/new">
		<button>
		Add new Art
		</button>
	</a>

	<div class="container">
		<% art.forEach(function(arts){ %>

			<div class="row-item">
				<img src="<%= arts.image %>">
			</div>
		<% }); %>
	</div>
	
	
</div>
<a class="toTop" href="#top" data-toggle="tooltip" title="Back to the top">^</a>
<a hidden href="/art/new">
		<button>
		Add new Art
		</button>
	</a>
<% include partials/footer %>