<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<title>Julie Bateman Art</title>
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="stylesheet" href="/stylesheets/landing.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" 			rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" 			 rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>	
	</head>
	<body>
		<nav>
			<div class="logo">
			<h4><a href="/">JBA</a></h4>
			</div>
			<ul class="nav-links">
				<li><a href="/">Home</a></li>
				<li><a href="/art">Gallery</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<div class="burger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
		</nav>
		
		<div class="landing-header">
 			<h1>Welcome to Julie Bateman Art</h1>
			<a href="/art" class="landing-button">View The Gallery</a>
    </div>
		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		
<% include partials/footer %>