* {
    margin: 0;
}

body {
	font-family: Quicksand;
	background: rgb(246,243,241);
	color: #D21B32;
	padding: 0;
	margin: 0;
}

/* Nav bar */
nav {
	background: #333;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav a {
	text-decoration: none;
	text-align: center;
	color: #fff;
	display: block;
	padding: 10px;
}

nav a:hover{
	background-color: #555;
}

/* flex styles */
@media screen and (min-width: 768px) {
	nav ul {
		display: flex;
		justify-content: flex-start;
	}
	
	nav li {
		
	}
}

/* Navbar end */

.wrapper{
	margin: 0 180px;
}


header {
	background: #D21B32;
	color: rgb(246,243,241);
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	padding: 10px 10px;
	margin: 7% 0 10px 0;
	letter-spacing: 2px;
}

.container {
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.row-item {
	flex-basis: 15%;
	box-sizing: border-box;
	padding: 15px 15px;
	
	
}

@media (max-width: 900px) {
	header {
		font-size: 24px;
		background: none;
		color: #D21B32;
	}
	body {
		margin: 0;
	}
	h2 {
		display: none;
	}
}


@media only screen and (max-device-width: 667px){
	header {
		font-size: 36px;
		background: none;
		color: #D21B32;
		
	}
	body {
		margin: 0;
	}
	h2 {
		display: none;
	}
	.row-item {
		margin-bottom: 40px;
	}
}

div .row-item:hover {
	transform: scale(1.1);
	transition: all 0.2s ease-in-out;
	box-shadow: 0 0 5px black;
}

img {
	max-width: 200px;
	max-height: auto;
	border-radius: 6px;
}

h2 {
	font-size: 24px;
	font-weight: 300;
	text-align: center;
}

li a img {
	height: 25px;
	width: 25px;
}
