body {
	font-family: Quicksand;
	background: rgb(246,243,241);
	color: #D21B32;
	margin: 0 200px;
	padding: 0
}

header {
	background: #D21B32;
	color: rgb(246,243,241);
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	padding: 10px 10px;
	margin: 7% 0 10px 0;
	letter-spacing: 2px;
}

.container {
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.row-item {
	flex-basis: 15%;
	box-sizing: border-box;
	padding: 0 20px;
	
	
}

@media (min-width: 900px) {
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}


@media (max-width: 861px) {
	header {
		font-size: 12px;
		background: none;
		color: #D21B32;
		
	}
	body {
		margin: 0;
	}
	h2 {
		display: none;
	}
	.row-item {
		margin-bottom: 40px;
	}
}

div .row-item:hover {
	transform: scale(1.1);
	transition: all 0.2s ease-in-out;
	border: black 1px solid;
}

img {
	max-width: 200px;
	max-height: auto;
	border-radius: 6px;
}

h2 {
	font-size: 24px;
	font-weight: 300;
	text-align: center;
}